* {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}

/* Chat Engine Specific Styles */
.ce-chat-list {
  background-color: #36393e !important;
  overflow: hidden !important;
  border-right: 2px solid #ffd166 !important;
}

.ce-chats-container {
  background-color: #36393e !important;
}

.ce-active-chat-card {
  background-color: lightgrey !important;
  border: 4px solid #36393e !important;
  border-radius: 8px !important;
  font-size: 18px;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
  background-color: #36393e !important;
  color: lightgrey;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 2px solid #ffd166 !important;
  background-color: #36393e !important;
  color: lightgray;
  margin-bottom: 4px;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #ffd166 !important;
  position: relative;
  bottom: 1px;
}

.ce-primary-button svg {
  color: #36393e;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: #36393e !important;
  border-left: 2px solid #ffd166 !important;
  overflow: hidden;
}

.ce-person-container {
  background-color: lightgray;
  margin-top: 4px;
  border-radius: 8px;
  padding: 4px;
}

.ce-person-title-container,
.ce-photo-title-container {
  background-color: #36393e !important;
  color: #ffd166;
  border-bottom: 2px solid #ffd166;
  border-top: none !important;
}

.ce-settings-container div,
.ce-photo-section {
  border-top: none !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

.ce-chat-unread-dot {
  background-color: #36393e !important;
}

.ce-chat-feed-column {
  background-color: #36393e;
  padding: 2px !important;
  border-left: 2px solid #ffd166;
  border-right: 2px solid #ffd166;
}

/* Custom Chat Engine Styles */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #36393e;
  overflow: hidden !important;
}

.chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: #ffd166;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: lightgray;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-username {
 color: #ffd166;
 padding-left: 10px;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  margin: 1.5px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: lightgray;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 38px);
  padding: 18px;
  background-color: #36393e;
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid #ffd166;
  background-color: #36393e;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: #36393e;
  border: 1px solid #36393e;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
  color: lightgray;
}

::placeholder {
  color: lightgray;
}

.image-button {
  cursor: pointer;
  padding: 0px 12px;
  height: 100%;
  color: lightgray;
}

.send-button {
  height: 42px;
  background-color: #36393e;
  border: 1px solid #36393e;
  padding: 0px 18px;
  cursor: pointer;
  color: lightgray;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
}

/* Login Style */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: #36393e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #36393e;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 400px;
}

.title {
  text-align: center;
  color: #ffd166;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: #ffd166;
  color: #36393e;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.error {
  color: #ff6961;
  text-align: center;
  margin-top: 20px;
}
